
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
		
	</head>
	<body>

	<div id="panel" class="ui">
		<div>
			<p></p>
		</div>
		<div>
			<h1>About</h1>
			<p>Check out the GitHub project here <a class="inside" href="https://github.com/spite/depth-player" >depth-player</a>.</p>
			<p>Code by Jaume Sánchez <a class="inside" href="http://www.twitter.com/thespite" rel="external">@thespite</a> using <a class="inside" href="http://www.threejs.org" rel="external">three.js</a><br/>and Kinect code by <a class="inside" href="http://www.twitter.com/kcimc" rel="external">@kcimc</a> and <a class="inside" href="http://www.twitter.com/mrdoob" rel="external">@mrdoob</a>.</p>
			<p>Code modified by Ugo Capeto <a class="inside" href="http://3dstereophoto.blogspot.com" rel="external">3dstereophoto</a>.</p>
			<p>For more info about this version of Depth Player, check <a class="inside" href="https://3dstereophoto.blogspot.com/2019/01/depthplayerugocapetocom-web-tool-to.html" rel="external">Depth Player blog post</a>.</p>
		</div>
		

	</body>
</html>
